<div class="container" ng-controller="PathController as pc">
        <div ng-include="{{pc.path + '/getLibraryContents.html'}}"></div>
        <div ng-include="{{pc.path + '/getLibraryElement.html'}}"></div>
        <div ng-include="{{pc.path + '/libraryAdd.html'}}"> </div>
        <div ng-include="{{pc.path + '/upload.html'}}"></div>
        <div ng-include="{{pc.path + './download.html'}}"></div>
        <div ng-include="{{pc.path + './stop.html'}}"></div>
        <div ng-include="{{pc.path + './reststatus.html'}}"></div>
        <div ng-include="{{pc.path + './state.html'}}"></div>
</div>