<div class="container">
        <div data-ng-include datasrc="./getLibraryContents.html"></div>
        <div data-ng-include datasrc="./getLibraryElement.html"></div>
        <div data-ng-include datasrc="./libraryAdd.html"> </div>
        <div data-ng-include datasrc="./upload.html"></div>
        <div data-ng-include datasrc="./download.html"></div>
        <div data-ng-include datasrc="./stop.html"></div>
        <div data-ng-include datasrc="./reststatus.html"></div>
        <div data-ng-include datasrc="./state.html"></div>
</div>