<div class="container">
        <div src="views/gvod-ui/partials/getLibraryContents.html"></div>
        <div src="views/gvod-ui/partials//getLibraryElement.html"></div>
        <div src="views/gvod-ui/partials/libraryAdd.html"> </div>
        <div src="views/gvod-ui/partials/upload.html"></div>
        <div src="views/gvod-ui/partials/download.html"></div>
        <div src="views/gvod-ui/partials/stop.html"></div>
        <div src="views/gvod-ui/partials/reststatus.html"></div>
        <div src="views/gvod-ui/partials/state.html"></div>
</div>